@CHARSET "UTF-8";
/*
#header{
	width:80%;
	margin:0 auto ;
	height:80px;	
}

#login{
	float:right;
	padding-top: 15px;
	padding-right:20px;
	font-size: 2em;
	text-decoration: none;	
}
#content{
	width:80%;
	margin:0 auto ;
}
#content form{
	width:300px;
	margin:0 auto ;
}
*/

body{
    background:url('../img/background.jpg');
    padding:0, 50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.9);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*End Sign in DropDown*/

#checker{
	width:600px;
	margin:50px auto;

}

.navbar-default{
	background-color:#63B175;
	border-radius:0;
	box-shadow: 0px 10px 15px grey;
}

.loginButton{
	height:100%;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}


#content {
	background-color: rgba(255,255,255,.6);
	width: 80%;
	height:800px;
	margin:50px auto;

}

.container .form-control{
	width:50%;
	
}
.container form{
	width:80%;
	margin:0 auto;
	padding-top:100px;
}

